// 사용할 column 수를 변수에 할당합니다.
$grid-columns: 12;

// 스크린 크기에 따른 breakpoint를 변수에 할당합니다.
$mobile-breakpoint: 767px;
$desktop-breakpoint: 768px;

.container {
  display: flex;
  flex-wrap: wrap;
}

// breakpoint가 mobile일 때는 6열을 사용하도록 설정합니다.
// mixin을 사용하여 각 column width를 계산하고 할당합니다.
@mixin mobile-grid() {
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: (100% / 6) * $i;
    }
  }
}

// breakpoint가 desktop일 때는 12열을 사용하도록 설정합니다.
// mixin을 사용하여 각 column width를 계산하고 할당합니다.
@mixin desktop-grid() {
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: (100% / 12) * $i;
    }
  }
}

// 모바일 화면에서는 mobile-grid mixin을 사용하여 6열 그리드를 설정합니다.
@media screen and (max-width: $mobile-breakpoint) {
  @include mobile-grid();
}

// 데스크탑 화면에서는 desktop-grid mixin을 사용하여 12열 그리드를 설정합니다.
@media screen and (min-width: $desktop-breakpoint) {
  @include desktop-grid();
}
