// 컬러 팔레트 색상
$over-green: #698269;
$over-brown: #b99b6b;
$over-red: #aa5656;
$over-beige: #f1dbbf;
$over-gray: #d9d9d9;
$over-lightgray: #5f5f5f;

// 새로운 컬러팔레트 색상
$heavy-yellow: #ffb118;
$midi-yellow: #ffda4f;
$light-yellow: #fffb64;
$light-green: #99d73b;
$heavy-green: #2a980e;

// 사용예시
// h1 {
//     color: $over-green;
// }

// font design
$font-h1: 54px;
$font-h2: 30px;
$font-h3: 27px;
$font-h4: 18px;
$font-h5: 14px;

// mixin
@mixin flexing-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
