@font-face{
    // 사용할 폰트이름
    font-family: "Pretendard";
    // 폰트 기본 스타일
    font-style: thin;
    font-weight: 100;
    // 브라우저 렌더링 차단 처리방식
    font-display: fallback;
    // src: 사용할 폰트의 위치 및 형식
    src: local("Pretendard"),
     url(./Pretendard-Thin.woff2) format("woff2");
}

@font-face{
    // 사용할 폰트이름
    font-family: "Pretendard";
    // 폰트 기본 스타일
    font-style: extralight;
    font-weight: 200;
    // 브라우저 렌더링 차단 처리방식
    font-display: fallback;
    // src: 사용할 폰트의 위치 및 형식
    src: local("Pretendard"),
     url(./Pretendard-ExtraLight.woff2) format("woff2");
}

@font-face{
    // 사용할 폰트이름
    font-family: "Pretendard";
    // 폰트 기본 스타일
    font-style: light;
    font-weight: 300;
    // 브라우저 렌더링 차단 처리방식
    font-display: fallback;
    // src: 사용할 폰트의 위치 및 형식
    src: local("Pretendard"),
     url(./Pretendard-Light.woff2) format("woff2");
}

@font-face{
    // 사용할 폰트이름
    font-family: "Pretendard";
    // 폰트 기본 스타일
    font-style: normal;
    font-weight: 400;
    // 브라우저 렌더링 차단 처리방식
    font-display: fallback;
    // src: 사용할 폰트의 위치 및 형식
    src: local("Pretendard"),
     url(./Pretendard-Regular.woff2) format("woff2");
}

@font-face{
    // 사용할 폰트이름
    font-family: "Pretendard";
    // 폰트 기본 스타일
    font-style: medium;
    font-weight: 500;
    // 브라우저 렌더링 차단 처리방식
    font-display: fallback;
    // src: 사용할 폰트의 위치 및 형식
    src: local("Pretendard"),
     url(./Pretendard-Medium.woff2) format("woff2");
}

@font-face{
    // 사용할 폰트이름
    font-family: "Pretendard";
    // 폰트 기본 스타일
    font-style: semibold;
    font-weight: 600;
    // 브라우저 렌더링 차단 처리방식
    font-display: fallback;
    // src: 사용할 폰트의 위치 및 형식
    src: local("Pretendard"),
     url(./Pretendard-SemiBold.woff2) format("woff2");
}

@font-face{
    // 사용할 폰트이름
    font-family: "Pretendard";
    // 폰트 기본 스타일
    font-style: bold;
    font-weight: 700;
    // 브라우저 렌더링 차단 처리방식
    font-display: fallback;
    // src: 사용할 폰트의 위치 및 형식
    src: local("Pretendard"),
     url(./Pretendard-Bold.woff2) format("woff2");
}

@font-face{
    // 사용할 폰트이름
    font-family: "Pretendard";
    // 폰트 기본 스타일
    font-style: ExtraBold;
    font-weight: 800;
    // 브라우저 렌더링 차단 처리방식
    font-display: fallback;
    // src: 사용할 폰트의 위치 및 형식
    src: local("Pretendard"),
     url(./Pretendard-ExtraBold.woff2) format("woff2");
}

@font-face{
    // 사용할 폰트이름
    font-family: "Pretendard";
    // 폰트 기본 스타일
    font-style: black;
    font-weight: 900;
    // 브라우저 렌더링 차단 처리방식
    font-display: fallback;
    // src: 사용할 폰트의 위치 및 형식
    src: local("Pretendard"),
     url(./Pretendard-Black.woff2) format("woff2");
}