@keyframes blink-effect {
  2% {
    opacity: 0.99;
  }
  5% {
    opacity: 0.9;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.8;
  }
  95% {
    opacity: 0.9;
  }
  99% {
    opacity: 0.99;
  }
}
