body {
  margin: 0 auto;
  font-family: 'Pretendard', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  max-width: 425px; /* 페이지 최대 너비를 320px로 설정 */
  // width: 100%; /* 페이지 너비를 100%로 설정하여 최대 너비를 유지 */
}

code {
  font-family: 'Pretendard', monospace;
}
