.nav-content {
  .header-font-group {
    margin-top: 15%;
    text-align: right;
    .header-font-tag {
      padding-top: 15px;
      padding-right: 20px;
      color: white;
      font-size: 1.5rem;
      font-weight: 500;
      z-index: 9999;
    }
  }
}
