.nav-content {
  .header-font-group {
    margin-top: 15%;
    text-align: right;
    .header-font-tag {
      padding-top: 20px;
      padding-right: 30px;
      color: white;
      font-size: $font-h3;
      font-weight: 500;
      z-index: 9999;
    }
  }
}
