.mainpage {
  align-items: center;
  text-align: center;

  Mascottmain {
    width: 90px;
  }

  .mountain-suggestion {
    background-color: $over-brown;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
    text-align: center;

    .suggestion-text {
      margin-bottom: 20px;
      font-size: $font-h2;
      color: white;
      .user-challenge {
        color: white;
        text-decoration: none;
      }
    }
    .itembox {
      align-items: center;
    }
  }
}
