div {
  .level-text {
    font-size: large;
    margin-left: 30px;
  }
  .like-text {
    font-size: large;
    margin-left: 30px;
    margin-top: 30px;
  }
  .purpose-text {
    font-size: large;
    margin-left: 30px;
    margin-top: 30px;
  }
  .time-text {
    font-size: large;
    margin-left: 30px;
    margin-top: 30px;
  }
}
hr {
  width: 300px;
}
.level-question {
  display: flex;
  justify-content: center;
}
.like-question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .korea-map {
    display: none;
    color: black;
    position: relative;
    .seoul {
      position: absolute;
      top: 10%;
      left: 20%;
      z-index: 9;
      color: black;
    }
    .gyeonggi {
      position: absolute;
      top: 5%;
      left: 20%;
    }
    .incheon {
      position: absolute;
      top: 5%;
      left: -10%;
    }
  }
  .select-area {
    display: flex;
    justify-content: center;
    margin: 14px;
    background-color: $over-beige;
    border-radius: 30px;
    width: 80px;
    filter: grayscale(1);
    &.active {
      filter: grayscale(0);
      background-color: $over-beige;
    }
  }
}
.purpose-question {
  display: flex;
  justify-content: center;
}
.time-question {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  .select-time {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: $over-beige;
    border-radius: 30px;
    width: 290px;
    filter: grayscale(1);
    &.active {
      filter: grayscale(0);
      background-color: $over-beige;
    }
    img {
      margin: 10px;
    }
    div {
      margin: auto;
      font-size: large;
    }
  }
}

.select-circle {
  text-align: center;
  margin: 20px;
  filter: grayscale(1);
  &.active {
    filter: grayscale(0);
  }
}

.question-finish {
  margin-right: 30px;
  text-align: right;
  .submit-button {
    background-color: white;
    border: none;
    color: $over-red;
    font-size: large;
  }
}
