.recom-question {
  margin: 10px;

  .recom-banner {
    border-radius: 20px;
    width: 100%;
    height: 300px;
    position: relative;
    background-color: $light-green;
    padding: 10px 0px;

    .recom-title {
      position: absolute;
      text-align: center;
      width: 100%;

      h1 {
        font-size: $font_h2;
        color: white;
        font-weight: 700;
        margin: 5px 0px;
      }

      span {
        font-size: $font_h4;
        color: rgb(47, 47, 47);
        font-weight: 500;
      }
    }
  }

  form {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
      width: 100%;
    }

    .level-text {
      margin: 15px 0px;
      font-size: 1.5rem;
      font-weight: 500;
    }
    .like-text {
      margin: 15px 0px;
      font-size: 1.5rem;
      font-weight: 500;
    }
    .purpose-text {
      margin: 15px 0px;
      font-size: 1.5rem;
      font-weight: 500;
    }
    .time-text {
      margin: 20px 0px;
      font-size: 1.5rem;
      font-weight: 500;
    }

    .question-text {
      color: $heavy-green;
      font-size: $font_h4;
      font-weight: 600;
      margin: 5px;
    }

    .time-specific-text {
      font-size: $font-h4;
    }
  }
}
hr {
  margin: 20px;
  width: 300px;
}
.level-question {
  display: flex;
  justify-content: center;
}
.like-question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .select-area {
    display: flex;
    justify-content: center;
    margin: 14px;
    background-color: $midi-yellow;
    border-radius: 30px;
    width: 80px;
    filter: grayscale(1);
    &.active {
      filter: grayscale(0);
      background-color: $midi-yellow;
    }
  }
}
.purpose-question {
  display: flex;
  justify-content: center;
}
.time-question {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  .select-time {
    display: flex;
    justify-content: center;
    margin: 5px;
    background-color: $midi-yellow;
    border-radius: 30px;
    width: 290px;
    filter: grayscale(1);
    &.active {
      filter: grayscale(0);
      background-color: $midi-yellow;
    }
    img {
      margin: 10px;
      height: 30px;
    }
    div {
      margin: auto;
      font-size: 1rem;
    }
  }
}

.select-circle {
  text-align: center;
  margin: 10px 20px;
  filter: grayscale(1);
  &.active {
    filter: grayscale(0);
  }
}

.question-finish {
  width: 100%;
  margin-bottom: 20px;

  .finish-text {
    font-size: $font-h5;
    margin: 10px;
    font-weight: 500;
    color: rgb(122, 122, 122);
  }

  .submit-button {
    width: 100%;
    background-color: $heavy-green;
    border: none;
    color: white;
    font-size: large;
    font-weight: 500;
    height: 50px;
    border-radius: 10px;
  }
}
