.login-box {
  display: flex;
  flex-wrap: wrap; /* 줄바꿈 */
  flex-direction: column; /* 수직정렬 */
  justify-content: center;
  align-items: center;

  img {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.naver-login {
  width: 190px;
}
