.user-conquer {
  margin: 50px;
  font-size: $font-h2;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  .conquer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
  .conquer-number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: $over-beige;
    border-radius: 50%;
  }
}
