.balloon {
  display: none;
  position: absolute;
  width: 205px;
  height: 40px;
  left: 448px;
  bottom: 62px;
  background: #696969;
  color: black;
  border-radius: 10px;
  padding: 12px 12.8px;
}

.balloon:after {
  border-top: 10px solid #696969;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  content: '';
  position: absolute;
  top: 40px;
  left: 160px;
}
