.listbox {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 6px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 100%;
  height: 100px;
  padding: 10px;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 15px;
  // background-color: $light-yellow;

  .mountain-container {
    display: flex;
    height: 85px;
    
    .mountain-photo {
      width: 85px;
      height: 85px;
      border-radius: 10px;
      font-size: $font-h5;
      overflow: hidden;
      .mountain-100-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: middle;
      }
    }
    .textbox {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .textbox-name {
        display: flex;
        align-items: baseline;
        margin: 2px;
        .mountain-name {
          font-size: $font-h4;
        }
        .height {
          margin-left: 9px;
          font-size: $font-h5;
        }
      }
      .address {
        width: 150px;
        font-size: $font-h5;
        margin: 2px;
      }
      .difficulty {
        display: flex;
        margin: 2px;
        img {
          width: 25px;
        }
      }
    }
  }

  .conquer-mascott {
    width: 60px;
    height: 60px;
    background-color: rgba(240, 240, 240, 0.579);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.not-conquered {
      filter: grayscale(1);
    }

    img {
      width: 45px;
    }
  }
}
