.mountain-items {
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  figure {
    display: inline-block;
    padding-bottom: 10px;
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;

      @media only screen and (min-width: 321px) {
        width: 90px;
        height: 90px;
      }
    }
    figcaption {
      width: 80px;
      height: 30px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      background-color: white;

      @media only screen and (min-width: 321px) {
        width: 90px;
      }
    }
  }
}

.mountain-suggestion {
  background-color: $over-brown;
  text-align: center;

  .suggestion-text {
    margin-bottom: 20px;
    font-size: $font-h2;
    color: white;
    .user-challenge {
      color: white;
      text-decoration: none;
    }
  }
  .itembox {
  }
}
