.mountain-items-button{
  display: flex;
  justify-content: center;
  align-items: center;

  // background-color: $light-green;
  border-radius: 15px;
  padding: 5px 10px;
  // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  
  h5{
    font-size: $font-h4;
    font-weight: 600;
    color: rgb(115, 115, 115);
  }

  img{
    width: 20px;
    margin-right:5px;
  }
}