.mountain-items {
  figure {
    display: inline-block;
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
    figcaption {
      width: 120px;
      background-color: white;
    }
  }
}
