.search-bar {
  width: 80%;

  .search-title {
    margin-top: 20px;
  }

  .search-container {
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: rgb(237, 237, 237);
    height: 40px;
    font-size: 20px;
    color: black;
    border: 0;
    border-radius: 20px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    z-index: 2;

    input {
      background-color: rgba(209, 209, 209, 0);
      font-size: $font-h5;
      width: 80%;
      z-index: 2;
      &:focus {
        outline: none;
      }
    }

    svg {
      fill: grey;
      z-index: 2;
    }

    .search-result-container {
      position: absolute;
      top: 40px;
      z-index: 1;
      width: 100%;
      height: auto;
      max-height: 330px;
      background-color: rgb(237, 237, 237);
      text-align: left;
      overflow: hidden;
      .result-box {
        margin-top: 5%;
        .mountain-name {
          margin-left: 5%;
        }
        .mountain-address {
          margin-left: 5%;
        }
        hr {
          color: black;
        }
      }
    }
  }
}
