.spot-message {
  position: fixed;
  width: 200px;
  height: 40px;
  background-color: $heavy-green;
  // margin: 50px 0px 15px 20px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 12px 12.8px 12px 12px;
  text-align: center;
  align-items: center;
  bottom: 140px;
  right:8%;
  display: flex;
  animation: fadeout 5s 2s 1;
  opacity: 100;
  // @media all and (min-width: 375px) and (max-width: 420px) {
  //   right: 1%;
  // }
  // @media all and (min-width: 425px) {
  //   right: %;
  // }
  // @media all and (min-width: 1024px) {
  //   right: 46%;
  // }
}
.spot-message:after {
  border-top: 10px solid $heavy-green;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  content: '';
  position: absolute;
  bottom: -9px;
  right: 10%;
}
.spot-parent {
  position: fixed;
  max-width: 100%;
  width: 425px;
  height: 100px;
  bottom: 15px;
  right: 5%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
  // @media all and (min-width: 430px) {
  //   right: 15%;
  // }
  // @media all and (min-width: 900px) {
  //   right: 30%;
  // }
  .spot-button {
    background-color: $heavy-green;
    border: 2px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    img {
      width: 40px;
      height: 40px;
    }
  }
}
