.Toastify__toast-container {
  margin-left: 10px !important;
  margin-top: 10px !important;
  width: 250px !important;
  font-size: $font-h5 !important;

  .Toastify__toast {
    border-radius: 10px !important;

    .Toastify__toast-body {
      margin: 0px !important;
      padding: 0px !important;
      font-family: 'Pretendard' !important;
    }
  }
}
